body {
	background:black;
	margin:5px;
	color:white;
}

a {
	color:deepskyblue;
}

.optionsTab {
	margin-top: 2em;
}

.menu {
	margin : 1em;
}

.setting {
	margin-bottom: 1em;
	margin-left: 2em;
}

.noCamMessage {
	margin: 2em;
}

.retryButton {
	margin-left: 2em;	
}